.App {
  background-color: #232D3F;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: #0F0F0F;
  color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
}

header span {
  color: #005B41;
}

.player h2 {
  color: #005B41;
}

.player input {
  background-color: #232D3F;
  color: #008170;
}

.player input:focus {
  outline: none;
}

.player button {
  background-color: #005B41;
}

.player button:hover {
  background-color: #005B41;
  cursor: pointer;
}

.challenges_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: auto;
  margin: 2rem 0;
  gap: 2rem;
}
.challenge_container div{
  flex-grow: 0;
  flex-shrink: 0;
}

.challenge {
  background-image: linear-gradient(to top, #008170 0%, #005B41 100%);
  width: 330px;
  padding: .5rem;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
}
.challenge h2{
  margin:0;
}
.challenge h3{
  border:1px solid black;
  width: fit-content;
  padding:5px;
}
.challenge p{
  margin:10px;
}
.challenge button {
  background-color: #232D3F;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.challenge button:hover {
  background-color: #0F0F0F;
  cursor: pointer;
}


@media (min-width:1030px) {
  .container{
    width:60%;
  }
}
