body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.result_modal {
  border-radius: 6px;
  border: none;
}

.result_modal form{
  text-align: right;
}
.result_modal h1,
strong {
  color: #005B41;
}

.result_modal button {
  background-color: #232D3F;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.result_modal button:hover {
  background-color: #0F0F0F;
  cursor: pointer;
}

::backdrop {
  background-color: #0F0F0F;
  opacity: .9;
}